#!/usr/bin/make -f
#DH_VERBOSE = 1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)


%:
	dh ${@} --buildsystem cmake --parallel


override_dh_install:
	dh_install --exclude=pcmanfm-qt.1 --fail-missing  --list-missing

override_dh_auto_configure:
	dh_auto_configure  -- -DLIB_SUFFIX="/$(DEB_HOST_MULTIARCH)"

override_dh_clean:
	$(RM) -r debian/libfm-qt5-dbg
	$(RM) -r debian/pcmanfm-qt-dbg
	dh_clean

override_dh_strip:
	dh_strip -ppcmanfm-qt --dbg-package=pcmanfm-qt-dbg
	dh_strip -plibfm-qt5-2 --dbg-package=libfm-qt5-dbg
